#main, .x-container {
	width: 980px;
	margin: 0 auto;
}

#footer {
	margin-top: 10px;	
}

.x-grid {
	margin-top: 10px;
	zoom: 1;
}

.x-grid:after  {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.x-col-side {
	width: 190px;
	float: left;
}

.x-col-extra, .x-grid-2 .x-col-side {
	width: 280px;
	float: right;
}

.x-grid-2u .x-col-main, .x-grid-3 .x-col-main {
	margin-left: 200px;
}

.x-grid-2 .x-col-main {
	margin-right: 290px;
}

.x-grid-3 .x-col-main {
	margin-right: 250px;
}

.x-grid-3 .x-col-extra {
	width: 240px;
}




/***************************** Compact Mode ***************************/


/*
**	2011.08.03 phxsuns
*/

/* layout */
#doc{
	width:980px;
	margin:0 auto;
}
#doc .grid{
	margin-bottom:10px;
	zoom:1;
}
#doc .grid:after {
	content: ".";display: block; height: 0; clear: both; visibility: hidden;
}
#doc .col-690,
#doc .col-280,
#doc .col-190,
#doc .col-780{
	float:left;
	margin-right:10px;
}
#doc .col-980{
	width:980px;
}
#doc .col-690{
	width:690px;
}
#doc .col-280{
	width:280px;
}
#doc .col-190{
	width:190px;
}
#doc .col-780{
	width:780px;
}
#doc .col-last{
	margin-right:0;
}
/* standard style */
#doc .box-bd{
	zoom:1;
}
#doc .box-bd:after {
	content: ".";display: block; height: 0; clear: both; visibility: hidden;
}
