/**
 * @author 
 */




@import "../../../core/assets/styles/mixins.less";




// TABCONTROLS
// -----------

.x-tabcontrols-container {
  padding: 10px; 
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #DDD;
  .border-radius(0 0 4px 4px);
}

.x-tabcontrols-plain .x-tabcontrols-container {
   border-width: 0;
}
