/**
 * @author 
 */

h2, h3 {
	color: #0092DB;	
}

#fork_me_on_github {
	position: absolute;
	top: 0;
	right: 0;
}

#header {
	margin-top: 29px;	
	margin-bottom: 19px;
}

#header h1 {
	float: left;	
}

#navbar{
	float: right;
	margin: 14px 0;	
}

#navbar li {
	padding: 10px;
	display: inline;
}

#navbar li a{
	font-size: 14px;
	color: #000;
	font-family: '微软雅黑', '幼圆';
	vertical-align: middle;
}

#navbar li a.selected {
	font-weight: bold;	
}

#intro {
	padding-left: 190px;
	margin-bottom: 26px;
	font-size: 16px;
}

.rightborder {
	border-right: 1px dotted #E5E5E5;
}

#guide {
    background: url(../images/shadow.png) no-repeat scroll center top #F7F7F7;
    padding: 10px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #E5E5E5;
    margin-top: 26px;
}

#concat {
	float: right;
	width: 240px;	
}

#footer {
    clear: both;
    color: #6F6F6F;
    font-size: 11px;
    height: 45px;
    line-height: 45px;
}

