/**
 * @author 
 */



.b-face {
	
}

.b-face-smallest {
	border: 1px solid #8f8f8f;
	padding: 1px;
	width: 20px;
	height: 20px;
}

.b-face-small {
	border: 1px solid #c5c5c5;
	padding: 2px;
	width: 44px;
	height: 44px;
}

.b-face-normal {
	border: 1px solid #c5c5c5;
	padding: 4px;
	width: 60px;
	height: 60px;
}

.b-face-large {
	width: 165px;
	height: 165px;
}