/**
 * @author   xuld
 */


.b-tipbox {
	display:inline-block;
	padding: 5px 12px 5px 30px;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
}


.b-tipbox-success {
	border: 1px solid #d1e9ab;
    background-color: #f2fae2; 
    background-image: url(../images/success.png);
    color: #598400;
}


.b-tipbox-error {
	border: 1px solid #ffcfb9;
    background-color: #fffbe1; 
    background-image: url(../images/error.png);
    color: #990000;
}


.b-tipbox-info{
    border: 1px solid #bad5ef;
    background-color: #ebf1fa; 
    background-image: url(../images/info.png);
    color: #333;
}


.b-tipbox-message{
    border: 1px solid #DEDEDE;
    background-color: #F2F2F2; 
    background-image: url(../images/message.png);
    color: #9C9C9C;
}


div.b-tipbox {
    display: block;
}

.b-tipbox-noborder {
	background-color: transparent;
	border: 1px solid transparent;
	_border: none;
}