.x-grid {
  margin-top: 10px;
  *zoom: 1;
}
.x-grid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-grid-plain {
  margin-top: 0;
}
.x-col {
  float: left;
  margin-left: 20px;
}
.x-container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}
.x-grid-1 .x-col-main {
  width: 940px;
  margin-left: 0;
}
.x-grid-2 .x-col-side, .x-grid-3 .x-col-side {
  width: 230px;
  margin-left: 0;
}
.x-grid-2 .x-col-main {
  width: 690px;
}
.x-grid-2x .x-col-extra {
  width: 230px;
}
.x-grid-2x .x-col-main {
  width: 690px;
  margin-left: 0;
}
.x-grid-3 .x-col-extra {
  width: 190px;
}
.x-grid-3 .x-col-main {
  width: 480px;
}
