/**
 * @author 
 */



.x-image {
    border: 1px solid #C5C5C5;
    padding: 4px;
}

.x-image-small {
	width: 80px;
	height: 60px;
}

.x-image-normal {
	width: 120px;
	height: 90px;
}

.x-image-large {
	width: 180px;
	height: 130px;
}

.x-image-largest {
	width: 320px;
	height: 220px;
}