.x-tipbox {
  padding: 5px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
div.x-tipbox {
  display: block;
}
.x-tipbox,
.x-tipbox-heading {
  color: #c09853;
}
.x-tipbox .x-close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.x-tipbox-success,
.x-tipbox-error,
.x-tipbox-info {
  background-repeat: no-repeat;
  background-position: 8px 50%;
  padding-left: 30px;
}
.x-tipbox-success {
  background-color: #ebf6e7;
  border-color: #b9d99d;
  color: #468847;
  background-image: url(../../assets/images/success.png);
}
.x-tipbox-warning {
  background-color: #fcf8e3;
  border-color: #e9dbc3;
  color: #c09853;
}
.x-tipbox-error {
  background-color: #f2dede;
  border-color: #e3b7b7;
  color: #b94a48;
  background-image: url(../../assets/images/error.png);
}
.x-tipbox-info {
  background-color: #eaf5fb;
  border-color: #a1cbdf;
  color: #3a87ad;
  background-image: url(../../assets/images/info.png);
}
.x-tipbox-plain {
  background-color: transparent;
  border-color: transparent;
}
