/**
 * @author 
 */

/**
 * @author 
 */

/* Tree */

.x-treeview {
  padding: 3px 0;
  overflow: auto;
  border: 1px solid #cccccc;
  cursor: default;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.x-treeview-plain {
  border: 0;
}
.x-treenode,
.x-treeview a,
.x-treenode-space {
  height: 20px;
}
.x-treenode {
  overflow: hidden;
  cursor: pointer;
}
.x-treenode a {
  color: #333333;
}
.x-treenode-space {
  float: left;
  display: block;
  width: 19px;
  background-repeat: no-repeat;
  cursor: default;
}
.x-treeview a,
.x-treeview a:hover {
  text-decoration: none;
}
.x-treenode {
  color: #183152;
  font-size: 14px;
}
.x-treenode-none {
  background-image: none!important;
}
.x-treenode-selected {
  background-color: #d9e8fb;
}
.x-treenode:hover {
  background-color: #eeeeee;
}
.x-treenode-space {
  background-image: url(../../assets/images/treeview.gif);
}
.x-treenode-plus {
  background-position: 0 -30px;
}
.x-treenode-minus {
  background-position: 0 -60px;
}
.x-treenode-plus:hover {
  background-position: -30px -30px;
}
.x-treenode-minus:hover {
  background-position: -30px -60px;
}
.x-treeview-alt .x-treenode-space {
  background-image: url(../../assets/images/treeview-alt.gif);
}
.x-treeview-alt .x-treenode-normal {
  background-position: 0 -90px;
}
.x-treeview-alt .x-treenode-last .x-treenode-plus {
  background-position: 0 -120px;
}
.x-treeview-alt .x-treenode-last .x-treenode-minus {
  background-position: 0 -150px;
}
.x-treeview-alt .x-treenode-last .x-treenode-normal {
  background-position: 0 -180px;
}
