/**
 * @author 
 */



.b-imagebox {
	clear: left;
}

.b-imagebox .b-face {
	float: left;
	margin-right: 10px;
	_margin-right: 5px;
}

.b-imagebox h5, .b-imagebox h4, .b-imagebox h3 {
	margin: 0;	
}

.b-imagebox-body {
	color: #999999;
	display: block;
	padding-left: 80px;
}