/**
 * @author 
 */



.b-pager{
	height:26px;
	line-height:26px;
	padding:12px;
	border-top:1px solid #d5d5d5;
	background:#f7f7f7;
	text-align:center;
	color:#666666;
}
.b-pager a{
	display:block;
}
.b-pager li{
	float:left;
}
.b-pager .b-pager-pn{
	width:61px;
	height:26px;
	line-height:26px;
	text-align:center;
	margin-right:5px;	
	display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;
	background:url('../images/pager-bg.png') 0 -30px no-repeat;	
}
.b-pager .b-pager-num{
	width:29px;
	overflow:hidden;
	padding:0;
	height:26px;
	line-height:26px;
	margin-right:5px;	
	text-align:center;
	display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;
	background:url('../images/pager-bg.png') 0 -60px no-repeat;		
}
.b-pager .b-pager-sl{
	padding:0 10px 0 5px;
}
.b-pager .b-pager-current{
	background:url('../images/pager-bg.png') -30px -60px no-repeat;	
}
.b-pager .b-pager-current a{
	color:#fff;	
	cursor:text;
}
.b-pager a.b-pager-disabled{
	cursor:not-allowed !important;
	color:#999999 !important;
}