/**
 * @author   xuld
 */


.x-tipbox {
	display:inline-block;
	padding: 4px 12px 4px 30px;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 8px 6px;
	*vertical-align: middle;
}


.x-tipbox-success {
	border: 1px solid #d1e9ab;
    background-color: #f2fae2; 
    background-image: url(../images/success.png);
    color: #598400;
}


.x-tipbox-error {
	border: 1px solid #ffcfb9;
    background-color: #fffbe1; 
    background-image: url(../images/error.png);
    color: #990000;
}


.x-tipbox-info{
    border: 1px solid #bad5ef;
    background-color: #ebf1fa; 
    background-image: url(../images/info.png);
    color: #333;
}


.x-tipbox-message{
    border: 1px solid #DEDEDE;
    background-color: #F2F2F2; 
    background-image: url(../images/message.png);
    color: #9C9C9C;
}


div.x-tipbox {
    display: block;
}

.x-tipbox-plain {
	background-color: transparent;
	border: 1px solid transparent;
	_border: none;
}