/**
 * @author 
 */






.b-tooltip  {
	display: inline;
	position: absolute;
	border: 1px solid #CFB888;
	background: #FCF2B8;
	color: #333333;
	padding: 3px 0 5px;
	-webkit-box-shadow: 2px 2px 2px #ccc; 
	-moz-box-shadow: 2px 2px 2px #ccc; 
	box-shadow: 2px 2px 2px #ccc; 
	line-height: 16px;
	z-index: 10000;
}

.b-tooltip-container {
	display: inline-block;
	margin: 0 8px;
	float: left;
}

.b-tooltip-container h5, .b-tooltip-container h6, .b-tooltip-container h4, .b-tooltip-container h3, .b-tooltip-container p {
	margin: 0;	
}


.b-tooltip-close {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	font-family: '黑体';
	color: #999999;
	width: 16px;
	margin-right:2px;
	float: left;
	_margin-right: 1px;
}

.b-tooltip-close:hover {
	color: #C3C3C3;
}

.b-tooltip-arrow {
	position: absolute;
	background: url(../images/arrow.gif) no-repeat;
}

.b-tooltip-arrow-top, .b-tooltip-arrow-bottom {
	width: 20px;
	height: 10px;
	left: 38.2%;
	margin-left: -10px;
}

.b-tooltip-arrow-top {
	top: -9px;
	background-position: 0 -60px;
}

.b-tooltip-arrow-bottom {
	bottom: -10px;
	_bottom: -14px;
}

.b-tooltip-arrow-left, .b-tooltip-arrow-right {
	width: 10px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
}

.b-tooltip-arrow-left {
	left: -10px;
	background-position: 100% -20px;
}

.b-tooltip-arrow-right {
	right: -10px;
	_right: -11px;
	background-position: 0 -40px;
}

.b-tooltip-alt {
	color: #353535;
	border: 1px solid #D6D6D6;
	background: #FDFDFD  ;
}

.b-tooltip-alt .b-tooltip-close {
	color: #939393;
}

.b-tooltip-alt .b-tooltip-close:hover {
	color: #C8C8C8;	
}

.b-tooltip-alt .b-tooltip-arrow {
	background-image: url(../images/arrow-alt.gif);
}



.b-tooltip-highlight {
	color: #FFFEFF;
	border: 1px solid #428900;
	background: #65B41D  ;
}

.b-tooltip-highlight .b-tooltip-close {
	color: #EAF7E6;
}

.b-tooltip-highlight .b-tooltip-close:hover {
	color: #A8DE6C;	
}

.b-tooltip-highlight .b-tooltip-arrow {
	background-image: url(../images/arrow-highlight.gif);
}