

/** 标准面板 */

/* 顶部和底部 */
.x-header, .x-footer {
	padding-left: 4px;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: default;
}

.x-header-container, .x-footer-container{
	padding-right: 4px;
	background-repeat: no-repeat;
}

/* 顶部*/
.x-header {
	height:28px;
	color: #183152;
}

.x-header-content {
	background-repeat: repeat-x;
	padding: 3px 1px 1px 5px;
	line-height: 24px;
	overflow: hidden;
}

.x-movable .x-header {
	cursor: move;
}

.x-header h3 {
	padding: 0;
	margin: 0;
}

/* 工具按钮   */
.x-header a.x-icon {
	float:right;
	margin-top: 2px;
	margin-right: 1px;
}

.x-header h3 .x-icon {
	margin-top: 2px;
}

.x-body-container{
	overflow: hidden;
}

/* 正文 */
.x-body-content {
	padding: 5px;
	overflow: auto;
	
	/*  IE6 必须在有 width 才可支持 overflow 属性  */

	_width: expression(parseInt(this.parentNode.parentNode.currentStyle.width) - 2);

}

.x-fill {
	padding: 0;
}

/* 底部内容 */
.x-footer-content  {
	height: 5px;
	font-size: 0;
	background-repeat: repeat-x;
	overflow: hidden;
}