

/*  按钮            */
.b-button{
	cursor: default;
	overflow: hidden;
	padding-left: 4px;
	outline:none;
	vertical-align: top;
}

.b-button-container {
	padding-right: 4px;
}

.b-button button {
	margin: 0 -4px;
	height: 30px;
	background: none;
	border: none;
	font-size: 12px;
	color: #dbe9ff;
	font-weight: bold;
	padding-bottom: 2px;
	*padding-bottom: 0;
}

.b-button, .b-button-container, .b-button-content{
	display: inline-block;
	background-image: url(../images/buttons.png);
	background-repeat: no-repeat;
}

.b-button-container{
	background-position: 100% -70px;
}

.b-button-content {
	background-position: 0 -35px;
	background-repeat: repeat-x;
}

/* 状态  */

.b-button:hover{
	background-position: 0 -105px;
}

.b-button:hover .b-button-container{
	background-position: 100% -175px;
}

.b-button:hover .b-button-content{
	background-position: 0 -140px;
}

/* IE6-9 和  Opera   不会处理   .b-button:active  (因为存在  <button>)  但我们忽略它。        */

.b-button:active {
	background-position: 0 -210px;
}

.b-button:active .b-button-container{
	background-position: 100% -280px;
}

.b-button:active .b-button-content{
	background-position: 0 -245px;
}

.b-button:active button{
	position:relative;
	top:1px;
	left:1px;
}




/* 选中 */

.b-button.b-checked {
    background-position: 0 -225px;
} 

.b-button.b-checked .b-button-container {
    background-position: 100% -275px;
}

.b-button.b-checked .b-button-content {
    background-position: 0 -250px;
}


.b-button.b-checked:hover {
    background-position: 0 -300px;
} 

.b-button.b-checked:hover .b-button-container {
    background-position: 100% -350px;
}

.b-button.b-checked:hover .b-button-content {
    background-position: 0 -325px;
} 

/* 禁用  */

.b-button.b-disabled {
    background-position: 0 -375px!important;
} 

.b-button.b-disabled .b-button-container {
    background-position: 100% -425px!important;
}

.b-button.b-disabled .b-button-content {
    background-position: 0 -400px!important;
} 

.b-button.b-disabled:active button{
	position: static!important;
}




/* 图标 */

button .b-icon {
	margin-top: 2px;
	_width: 17px;
	_margin-left: 3px;
}



/* 平板    */

.b-button.b-plain, .b-button.b-plain .b-button-container, .b-button.b-plain .b-button-content{
	background: none!important;
}

