
// Lists

ol {
    margin: 0 0 @baseLineHeight / 2 25px;
    padding: 0;
}

ol ol {
  margin-bottom: 0;
}

// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt {
  font-weight: bold;
  margin-top: @baseLineHeight / 2;
}
dd {
  margin-left: @baseLineHeight;
}
