.x-menu-button {
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 24px;
    overflow: hidden;
    padding: 0;
    text-indent: -1000px;
    width: 16px;
	vertical-align: middle;
}

.x-menu-button {
    background-image: url(images/menubuttons.gif);
}

.x-menu-button-search:hover {
    background-position: 0 -22px;
}

.x-menu-button-search:active {
    background-position: 0 -44px;
}

.x-menu-button-narrow-right {
    background-position: -16px 0;
}

.x-menu-button-narrow-right:hover {
    background-position: -16px -22px;
}

.x-menu-button-narrow-right:active {
    background-position: -16px -44px;
}

.x-menu-button-narrow-down {
    background-position: -32px 0;
}

.x-menu-button-narrow-down:hover {
    background-position: -32px -22px;
}

.x-menu-button-narrow-down:active {
    background-position: -32px -44px;
}

.x-menu-button-date {
    background-position: -48px 0;
}

.x-menu-button-date:hover {
    background-position: -48px -22px;
}

.x-menu-button-date:active {
    background-position: -48px -44px;
}

.x-menu-button-ellipsis {
    background-position: -64px 0;
}

.x-menu-button-ellipsis:hover {
    background-position: -64px -22px;
}

.x-menu-button-ellipsis:active {
    background-position: -64px -44px;
}

.x-menu-button-clear {
    background-position: -80px 0;
}

.x-menu-button-clear:hover {
    background-position: -80px -22px;
}

.x-menu-button-clear:active {
    background-position: -80px -44px;
}