/**
 * @author 
 */





.b-progressbar {
	background-color: #ffffff;
    height: 20px;
    border:1px solid #d5d5d5;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 3px 3px 3px;
}


.b-progressbar-container {
	background: url(../images/processbar-fore.png) repeat-x;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    margin: 1px;
}

.b-progressbar-alt {
    background: url(../images/processbar-alt.png) no-repeat;
    height: 19px;
    width: 257px;
    
}

.b-progressbar-alt .b-progressbar-container {
	background: url(../images/processbar-alt-fore.png) no-repeat;
    height: 19px;
    margin: 0;
}