<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>J+ Control Library</title>
		<link rel="stylesheet" type="text/css" href="../core/assets/styles/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/fluid.css">
		<script type="text/javascript" src="../../src/system.js"></script>
		<script type="text/javascript" src="../../src/system/dom/element.js"></script>
		<script type="text/javascript" src="../../src/bootstrap.js"></script>
		<script type="text/javascript" src="assets/scripts/fluid.js"></script>
		<script type="text/javascript" src="../../assets/scripts/default.js" ></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					sidebar
				</div>
				<div class="span10">
					body
				</div>
			</div>
		</div>
	</body>
</html>