/**
 * @author 
 */

.x-combinedtextbox {
  position: relative;
  display: inline-block;
  *margin-left: .3em;
}
.x-combinedtextbox:first-child {
  *margin-left: 0;
}
.x-combinedtextbox .x-textbox {
  padding-right: 30px;
}
.x-combinedtextbox .x-textbox[readonly] {
  background-color: white;
  cursor: default;
}
.x-combinedtextbox .x-button {
  padding-left: 4px;
  padding-right: 8px;
  margin-left: 0;
  *margin-top: 1px;
  *padding: 3px 6px 3px 2px;
  position: absolute;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 0;
  _padding-bottom: 1px;
  _margin-right: -1px;
}
.x-textbox:focus + .x-button {
  border-color: rgba(82, 168, 236, 0.8);
}
.x-combinedtextbox .x-button .x-icon {
  margin-left: 2px;
  margin-right: -2px;
}
