/**
 * @author 
 */





.x-panel-header,.x-panel-header .x-header-container,.x-panel-header .x-header-content,.x-panel-footer, .x-panel-footer .x-footer-container, .x-panel-footer .x-footer-content {
    background-image: url(../images/panel.gif);
}

.x-panel-header {
    background-position: 0 0;
}

.x-panel-header .x-header-container {
    background-position: 100% -60px;
}

.x-panel-header .x-header-content {
    background-position: 0 -30px;
}

.x-panel-body {
	background-color: #eef4f5;
	border-color: #b8d0d6;
	border-width: 0 1px;
	border-style: solid;
}

.x-panel-footer {
    background-position: 0 -90px;
}

.x-panel-footer .x-footer-container {
	background-position: 100% -110px;
}

.x-panel-footer .x-footer-content{
	background-position: 0 -100px;
}




/* 折叠  */


.x-icon-collapsable {
	background-position: -75px 0px;
}

.x-icon-collapsable:hover {
    background-position: -75px -25px;
}

.x-icon-expandable {
    background-position: -75px -50px;
}

.x-icon-expandable:hover {
    background-position: -75px -75px;
}