.x-grid-fluid {
  margin-top: 10px;
  *zoom: 1;
}
.x-grid-fluid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col {
  float: left;
  margin-left: 1.632653061%;
}
.x-container-fluid {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.x-container-fluid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col-1 {
  width: 6.836734693%;
}
.x-col-2 {
  width: 15.306122447%;
}
.x-col-3 {
  width: 23.775510201%;
}
.x-col-4 {
  width: 32.244897955%;
}
.x-col-5 {
  width: 40.714285709%;
}
.x-col-6 {
  width: 49.183673463%;
}
.x-col-7 {
  width: 57.653061217%;
}
.x-col-8 {
  width: 66.122448971%;
}
.x-col-9 {
  width: 74.591836725%;
}
.x-col-10 {
  width: 83.061224479%;
}
.x-col-11 {
  width: 91.530612233%;
}
.x-col-12 {
  width: 99.999999987%;
}
.x-col-first,
.x-col:first-child {
  margin-left: 0;
}
