/**
 * @author 
 */

.x-pager {
  margin-left: 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.x-pager:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-pager li {
  display: inline;
}
.x-pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.x-pager a:hover {
  text-decoration: none;
  background-color: whitesmoke;
}
.x-pager-next a {
  float: right;
}
.x-pager-previous a {
  float: left;
}
