html,body,div,p,ul,li{ margin:0px; padding:0px; font-family:"微软雅黑";}
ul{ list-style:none;}

/*menu style*/
.menu_bg{ display:none; position:absolute; top:50px; left:50px; width:150px; height:0; background:#fff; border:1px solid #bbb; z-index:999999; box-shadow:#ccc 0 0 4px; border-radius:2px;}
.menu_bg_left{ position:absolute; height:100%; width:26px; z-index:1; background:#dff;}

.menu{ width:150px; position:absolute; z-index:2; padding:1px; height:0; font-size:13px; color:#666;}
.menu_item{ float:left; width:148px; height:24px; border-radius:2px; cursor:default;}
.menu_item:hover{ background:#0066CC; color:#FFF;}

.menu_item span.menu_txt{ float:left; line-height:24px; width:88px;}

.menu_line{ float:left; height:1px; background:#bbb; width:118px; border:2px solid #fff; margin-left:26px;}
.menu_icon{ float:left; width:16px; height:16px; margin:4px; margin-right:12px; border:0;}
.menu_more{ float:left; width:24px; line-height:24px; text-align:center;}