/**
 * @author 
 */



#footer {
    color: #6F6F6F;
    font-size: 11px;
    line-height: 65px;
}

/*
#footer {
    background: none repeat scroll 0 0 #252525;
    border-top: 0 none;
}




#footer #footer-floor {
    background: none repeat scroll 0 0 #1B1B1B;
}


#footer h4 {
    color: #999999;
}
#footer p {
    color: #999999;
}
#footer a {
    color: #FFFFFF;
}
#footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#footer #footer-floor {
    background: none repeat scroll 0 0 #1B1B1B;
}
#footer #footer-floor h3, footer #footer-floor h4 {
    color: #FFFFFF;
}
#footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}
#footer #footer-floor #elsewhere-icons {
    padding-top: 13px;
}
#footer #footer-floor #elsewhere-icons a {
    background: url("/images/footer-icons-sprite.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 35px;
    margin: 0 5px 0 0;
    overflow: hidden;
    text-indent: -900px;
    width: 35px;
}
.alert-message.block-message.success {
    background-color: #DEEBC5;
    border-color: #508600;
}
.span3 {
    width: 160px;
}

[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}*/