/**
 * @fileOverview J+ 测试系统核心引擎
 */


/*********************************** 全局 *******************************************/

body {
    margin: 0;
    padding: 0;
	color: #555555;
    font-size: 14px;
    background-color: #F9F9F9;
    font-family: 'Microsoft YaHei';
}

.system h1, .system h2, .system h5 {
	color: #666666;
}

.system h3, .system h4, .system h6 {
	color: #E27B00;
}

.system a {
	color: #E27B00;
}

.system a:hover {
	color: #F4C369;
}

.system hr {
	border-bottom: none;
	border-top: 1px solid   #DDDDDD;
}


.system code {
	border:1px solid #EB9100;
	display: block;
	padding: 0 30px;
	background: #F7E5C5;
	font-family: "Courier New";
}

.system table {
	border-collapse: collapse;
	empty-cells: show;
}

.system pre {
	line-height:18px;
}

.system textarea {
	width: 500px;
	height: 136px;	
}

.system td, .system th {
	border: 1px solid #ddd;	
	padding: 5px;
}



/*********************************** 布局 *******************************************/

#system-main{
	width: 950px;
	margin: 0px auto;
}

#system-header {
	border-bottom: 1px solid #DDDDDD;
	position: relative;
}

#system-header h1{
	color: #E27B00;
	font-size: 40px;
	text-indent: 8px;
	margin:13px 0 24px;
	font-family: Arial, Helvetica, sans-serif;
}

#system-header em{
	color: #999999;	
	position: relative;
	top: -20px;
}

#system-navbar {
	position: absolute;
    right: 8px;
    top: 20px;
}

#system-navbar a {
	display: block;
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid #DDDDDD;
	font-size: 16px;
}

#system-navbar a.system-last {
	border-right: none;
}

#system-container {
	width: 680px;
	padding: 10px;
	float: left;
	_overflow:hidden;
}

#system-sidebar {
	width: 200px;
	margin: 10px;
	padding: 0 10px 10px;
	background: #F3F3F3;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	float: right;
	_margin: 13px 0;
}

#system-sidebar h2{
	margin: 0 0 -10px;
	font-size: 16px;
	line-height: 36px;
	clear: left;
}

#system-sidebar .system-menu {
	margin: 0;
	padding: 0;
}

#system-sidebar .system-menu li {
	list-style: none;
	padding: 1px 1px 1px 20px;
	float: left;
}

#system-sidebar .system-menu li a.system-disabled{
	color: gray!important;
}

#system-sidebar .system-menu li a.system-removed{
	color: gray!important;
	text-decoration: line-through;
}

#system-sidebar .break-line li {
	float: none;
}

#system-sidebar .system-menu a{
	text-decoration: underline;
	font-size: 12px;
}

#system-footer {
	border-top: 1px solid #DDDDDD;
	text-align: center;
	padding: 10px;
	clear: both;
}

.system-testcase, .system-testcasegroup {
	width: 660px;
}

.system-testcasegroup {
	border-bottom: 1px solid #DDDDDD;
	margin: 13px 2px 2px;
	text-indent: 15px;
	font-size: 20px;
}

.system-testcase span{
	float: right;
	display: none;
	margin-right: 20px;
}

.system-testcase, .system-error, .system-warn, .system-success {
	padding: 2px 10px;
	line-height:16px;
	border: 2px solid #F9F9F9;
	margin: 2px 0;
}

.system-error {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

.system-warn {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

.system-success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

.system-error a {
	color:#8a1f11;
}
 	
.system-warn a {
	color:#514721;
}

.system-success a {
	color:#264409;
}

.system-testcase-actived {
	background: #eee;	
}

.system-testcase-actived span {
	display: block;
	font-size:12px;
}



/*********************************** 工具 *******************************************/

.system-large {
	font-size:x-large;
}

.system-small {
	font-size:x-small;
}

.system-left {
	float: left;
}

.system-right {
	float: right;
}

.system-center {
	margin-left:auto;
	margin-right:auto;
}

.system-strong {
	font-weight: bold;
}

.system-notcomplete {
	font-style: italic;
}

.system-clear {
	clear: both;
}

* html .system-clear {
	height: 1%;
}

.system-hide {
	display: none;
}

.system-indigo {
	background-color: #90D9E8;
}

.system-blue {
	background-color: #285A8F;
	color: #ffffff;
}

.system-green {
	background-color: #B4B900;
	color: #ffffff;
}

.system-purple {
	background-color: #B05A89;
	color: #ffffff;
}

.system-gray{
	background-color: #F3F3F3;
}

.system-box {
	border: 1pt solid #ffffff;
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	text-align: center;
	line-height: 80px;
	position:relative;
}

.system-area {
	background-color: #E95C41;
	color: #ffffff;
	padding: 10px;
	height: 200px;
	width: 200px;
}

.system-space {
	height: 5px;
	display: block;
	visibility: hidden;
	background: #F9F9F9;
	color:#fff;
}

.system-content{
	text-align:left;
	padding:3px 30px 9px 30px;
}

p.system-content {
	text-indent:2em;
}

.system-content img {
	margin: 6px;
}

.system-list {
	list-style-type: none;
	list-style-position:inside;
}

.system-list li {
	line-height: 28px;
	text-indent: 2em;
}

.system-list code {
	text-indent: 0;
}

.system-note {
	padding-left: 10px;
}
