/**
 * 最底层的 CSS 样式。
 * @author xuld
 */
html,
body,
form,
object,
iframe,
img,
pre,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body,
a img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
th,
td {
  padding: 0;
  border: 0;
}
ul,
li {
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
hr {
  clear: both;
  float: none;
  height: 0px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  display: block;
  font-size: 0px;
  line-height: 0px;
  margin: 12px 0;
  *margin: 4px 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
textarea {
  overflow: auto;
  vertical-align: 0px;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
body {
  font-family: Tahoma, Arial, "宋体";
  font-size: 12px;
  line-height: 1.5em;
  color: #333333;
  background-color: white;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 30px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 18px;
  font-size: 18px;
}
h4,
h5,
h6 {
  margin: 0;
}
h4,
h3 small {
  font-size: 14px;
}
h5,
h4 small {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
p {
  margin: 8px 0 16px;
}
p small {
  color: #999999;
}
ol {
  margin: 0 0 9px 25px;
  padding: 0;
}
ol ol {
  margin-bottom: 0;
}
dl {
  margin-bottom: 18px;
}
dt {
  font-weight: bold;
  margin-top: 9px;
}
dd {
  margin-left: 18px;
}
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}
address,
cite {
  font-style: normal;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: "Courier New", Menlo, Monaco, monospace;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 0 4px;
  color: #1e347b;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 9px 0;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  -moz-box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
}
pre ol {
  margin: 0 0 0 33px;
}
pre li {
  padding-left: 12px;
}
pre code {
  padding: 0;
  background-color: transparent;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 18px 0;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  font-size: 100%;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
legend small {
  font-size: 13.5px;
  color: #999999;
}
select {
  background-color: white;
}
