html .x-left {
  float: left;
}
html .x-right {
  float: right;
}
html .x-left,
html .x-right {
  _display: inline;
}
html .x-middle {
  vertical-align: middle;
}
.x-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
html .x-relative,
html div.x-relative {
  position: relative;
}
html .x-absolute,
html div.x-absolute {
  position: absolute;
}
html .x-inline {
  display: inline;
}
html .x-block {
  display: block;
}
html .x-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html .x-hide,
html div.x-hide {
  display: none;
}
.x-break-word {
  word-wrap: break-word;
  word-break: break-all;
}
html .x-plain,
html div.x-plain {
  margin: 0;
  padding: 0;
}
.x-clear {
  *zoom: 1;
}
.x-clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html .x-alt,
.x-alt a {
  color: #70a3cd;
}
html .x-hint,
.x-hint a {
  color: #999999;
}
.x-alt a:hover,
.x-hint a:hover,
a.x-alt:hover,
a.x-hint:hover {
  color: #005580;
}
.x-highlight {
  color: #ff6600 !important;
}
.x-warning {
  color: #c09853 !important;
}
.x-error {
  color: #b94a48 !important;
}
.x-success {
  color: #468847 !important;
}
html .x-row,
html div.x-row {
  margin-bottom: 10px;
}
.x-blank {
  height: 10px;
  display: block;
  visibility: hidden;
  color: white;
}
.x-debug {
  background: #cc0033 !important;
  color: white !important;
}
blockquote.x-right {
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}
blockquote.x-right p,
blockquote.x-right small {
  text-align: right;
}
