<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>share - J+ Control Libaray</title>
		
		<link rel="stylesheet" type="text/css" href="../core/assets/styles/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/index.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/box.css">
		
		<script type="text/javascript" src="../../assets/libs/jquery/jquery.js"></script>
		<script type="text/javascript" src="../../src/jquery-adapter.js"></script>
		<script type="text/javascript" src="../../src/uplus.js"></script>
		
		<style>
			#header, #footer, .box {
				border: 1px solid #DDDDDD;
				background: #EEEEEE;
				height: 99px;
				text-align: center;
				line-height: 99px;
				color: #555555;
				font-family: '微软雅黑';
				font-weight: 700;
			}
		</style>
	</head>
	<body>
		<div id="wrap">
			<div id="topbar">
				<div class="x-container"></div>
			</div>
			<div id="main">
				<div id="header">
					顶部
				</div>
				<div id="body">
					<div class="x-grid x-grid-3">
						
						<div class="x-col-extra">
							
							<!--   盒子   -->
							<div class="x-box">
								<div class="x-box-header">
									顶部 .x-box-header
								</div>
								<div class="x-box-body">
									内容 .x-box-body
								</div>
							</div>
							
							<div class="x-blank"></div>
							
							<!--   盒子   -->
							<div class="x-box">
								<div class="x-box-body">
									内容 .x-box-body
								</div>
							</div>
							
						</div>
						
						<div class="x-col-side">
							
							<!--   盒子   -->
							<div class="x-box">
								<div class="x-box-header">
									<h2>顶部 .x-box-header h2</h2>
								</div>
								<div class="x-box-body">
									内容 .x-box-body
								</div>
							</div>
							
						</div>
						
						<div class="x-col-main">
							每个盒子都是一个 .x-box
							<ul>
								.x-box
								<ul>
									<li>.x-box-header
										<ul>
											<li>h2</li>
										</ul>	
									</li>
									<li>.x-box-body</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
				<div id="footer">
					底部
				</div>
			</div>
	</body>
</html>