/**
 * @author  xuld
 */

 
.x-textbox {
    border: 1px solid #B5B8C8;
	color: #585858;
	line-height: 16px;
	padding: 1px 3px;
	font-size: 12px;
	background: #ffffff;
	vertical-align: baseline;
	*vertical-align: bottom;
	background: url(../images/shadow.gif) repeat-x left top; 
	margin: 0;
}

input.x-textbox {
	height: 18px;
}

textarea.x-textbox {
	vertical-align: top;
}

.x-textbox:focus{
    border-color: #75BBCD;
}

.x-textbox-error,  .x-textarea-error {
	border: 1px solid #d13535!important;
}


.x-textbox[disabled] {
	color: #C2C2C2;
	border-color: #C2C2C2;
}