.x-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 silver;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *margin-left: .3em;
}
.x-button:hover,
.x-button:active,
.x-button.x-button-actived,
.x-button.x-button-disabled,
.x-button[disabled] {
  background-color: #e6e6e6;
}
.x-button:active,
.x-button.x-button-actived {
  background-color: #cccccc \9;
}
.x-button:first-child {
  *margin-left: 0;
}
.x-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
a.x-button {
  cursor: pointer;
}
button.x-button:focus,
input.x-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.x-button:focus {
  outline-offset: -2px;
}
.x-button:active,
.x-button-actived {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.x-button[disabled],
.x-button-disabled {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-button-large {
  padding: 9px 14px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.x-button-small {
  padding: 2px 9px;
  font-size: 10px;
}
.x-button-smallest {
  padding: 1px 6px;
  font-size: 10px;
  line-height: 14px;
}
.x-button-highlight,
.x-button-highlight:hover,
.x-button-warning,
.x-button-warning:hover,
.x-button-error,
.x-button-error:hover,
.x-button-success,
.x-button-success:hover,
.x-button-info,
.x-button-info:hover,
.x-button-inverse,
.x-button-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.x-button-highlight {
  background-color: #4a9bca;
  background-image: -moz-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -ms-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aacca), to(#4a81ca));
  background-image: -webkit-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -o-linear-gradient(top, #4aacca, #4a81ca);
  background-image: linear-gradient(top, #4aacca, #4a81ca);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aacca', endColorstr='#4a81ca', GradientType=0);
  border-color: #4a81ca #4a81ca #2d5c9a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-highlight:hover,
.x-button-highlight:active,
.x-button-highlight.x-button-actived,
.x-button-highlight.x-button-disabled,
.x-button-highlight[disabled] {
  background-color: #4a81ca;
}
.x-button-highlight:active,
.x-button-highlight.x-button-actived {
  background-color: #3368ae \9;
}
.x-button-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-warning:hover,
.x-button-warning:active,
.x-button-warning.x-button-actived,
.x-button-warning.x-button-disabled,
.x-button-warning[disabled] {
  background-color: #f89406;
}
.x-button-warning:active,
.x-button-warning.x-button-actived {
  background-color: #c67605 \9;
}
.x-button-error {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-error:hover,
.x-button-error:active,
.x-button-error.x-button-actived,
.x-button-error.x-button-disabled,
.x-button-error[disabled] {
  background-color: #bd362f;
}
.x-button-error:active,
.x-button-error.x-button-actived {
  background-color: #942a25 \9;
}
.x-button-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-success:hover,
.x-button-success:active,
.x-button-success.x-button-actived,
.x-button-success.x-button-disabled,
.x-button-success[disabled] {
  background-color: #51a351;
}
.x-button-success:active,
.x-button-success.x-button-actived {
  background-color: #408140 \9;
}
.x-button-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-info:hover,
.x-button-info:active,
.x-button-info.x-button-actived,
.x-button-info.x-button-disabled,
.x-button-info[disabled] {
  background-color: #2f96b4;
}
.x-button-info:active,
.x-button-info.x-button-actived {
  background-color: #24748c \9;
}
.x-button-inverse {
  background-color: #393939;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);
  border-color: #262626 #262626 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-inverse:hover,
.x-button-inverse:active,
.x-button-inverse.x-button-actived,
.x-button-inverse.x-button-disabled,
.x-button-inverse[disabled] {
  background-color: #262626;
}
.x-button-inverse:active,
.x-button-inverse.x-button-actived {
  background-color: #0c0c0c \9;
}
button.x-button,
input.x-button {
  *padding: 4px 5px 0;
}
button.x-button-large,
input.x-button-large {
  *padding-top: 7px;
  *padding-bottom: 5px;
}
button.x-button-small,
input.x-button-small {
  *padding-top: 1px;
}
.x-button-plain {
  background: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-button-fixed {
  padding-left: 20px;
  padding-right: 20px;
}
