/**
 * @author 
 */
.x-splitbutton .x-button:last-child {
  padding-left: 8px;
  padding-right: 8px;
}
.x-splitbutton .x-button-menu {
  margin-left: 0;
  *margin-top: 7px;
  *margin-bottom: 7px;
  _margin-bottom: 5px;
}
