/**
 * @author 
 */



/*  可变区代理	 */
.x-resize-proxy {
	border-style: dashed;
	border-width: 1px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 100000;
} 

/* 可变区 */
.x-resizable{
	position:absolute;
	overflow:hidden;  /*  IE 6	 */
	
	_height: expression(this.firstChild.nextSibling.offsetHeight + 33);
}

.x-resizable-lt, .x-resizable-t, .x-resizable-rt, .x-resizable-l, .x-resizable-r, .x-resizable-lb, .x-resizable-b, .x-resizable-rb {
	overflow: hidden;
	width: 6px;
	height: 6px;
	position: absolute;
	display: block;
	/* 触发 IE6 layout */
	_background: #ffffff;
	_filter: alpha(opacity = 0);
}

.x-resizable-lt {
	top: 0;
	left: 0;
	z-index: 2;
	cursor: nw-resize;
}

.x-resizable-t {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: n-resize;
}

.x-resizable-l, .x-resizable-r{
	z-index: 1;
}

.x-resizable-rt {
	top: 0;
	right: 0;
	z-index: 2;
	cursor: ne-resize;
}

.x-resizable-l {
	left: 0;
	cursor: w-resize;
}

.x-resizable-r {
	right: 0;
	cursor: e-resize;
}

.x-resizable-lb {
	bottom: 0;
	left: 0;
	z-index: 2;
	cursor: sw-resize;
}

.x-resizable-b {
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
	cursor: s-resize;
}

.x-resizable-rb {
	bottom: 0;
	right: 0;
	z-index: 2;
	cursor: se-resize;
} 


.x-resizable-rt, .x-resizable-rb{
	_left: expression(this.parentNode.clientWidth - 6);
}

.x-resizable-l, .x-resizable-r{
	top: 0px;
	height: 100%;
	_height: expression(this.parentNode.clientHeight);
}


.x-resizable-r {
	_left: expression(this.parentNode.clientWidth - 5);
}







.x-resizable-proxy {
	border-color:#081629;
	background-color:#c3d7dc;
}

/*

.x-shadow-lt, .x-shadow-rt, .x-shadow-t, .x-shadow-lb, .x-shadow-rb, .x-shadow-r, .x-shadow-b, .x-shadow-l {
	_background: url(images/pixel.gif);
}



*/

