/**
 * @author 
 */




.x-tableview {
	border-collapse: collapse;
	border: 1px solid #EDEDED;
	border-spacing: 0px;
}

.x-tableview th {
	padding: 0pt 2px;
	line-height: 21px;
	border: 1px solid #ededed;
	background: url(../images/tableheader.png) repeat-x #f0eff0;
	font-size: 14px;
}

.x-tableview th:hover {
	background-position: 0 -50px;
}

.x-tableview td {
	padding: 1px 3px;
	line-height: 21px;
	border: 1px solid #EDEDED;
}

.x-tableview tr:nth-child(odd) {
	background-color: #f8f8f8;
}

.x-tableview tr:hover {
	border: #DDD;
	background-color: #f5f5f5;	
}

.x-tableview-actived {
	background-color: #7cc5e5;
	border-color: #b8d0d6;
}
