/**
 * @author 
 */


.x-button-menu {
	width: 12px;
	background: 2px 50% no-repeat;
	display: inline-block;
	*height: auto;
	*cursor: default;
}

.x-button-menu {
	background-image: url(../images/arrow.gif);
}