/**
 * @author 
 */

h2, h3 {
	color: #0092DB;	
}

#intro {
	padding-left: 190px;
	margin-top: 19px;
}


.rightborder {
	border-right: 1px dotted #E5E5E5;
}


.concat {
	float: right;
	width: 240px;	
}

#footer {
    border-top: 1px solid #E5E5E5;
    clear: both;
    color: #6F6F6F;
    font-size: 11px;
    height: 65px;
    line-height: 65px;
}

#content {
    background: url(../images/shadow.png) no-repeat scroll center top #F7F7F7;
    padding: 10px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
/*





#content 

.control-label {
	float: left;
    padding-top: 5px;
    text-align: right;
    padding-right: 9px;
}

.mylabel {
	vertical-align: 3px;
}


.host {
	float: right;	
}

.span4 {
	width: 299px;
}

hr {
	border-style: dotted;
}


#header h1 {
	margin: 9px 0 10px;
	color: #495961;
    font-size: 20px;
    font-weight: normal;
    height: 28px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0 #FFFFFF;
}


.blank {
	height: 10px;	
}

.project-git {
	padding: 7px 10px;
	margin: 10px;	
}*/

/*   panel1  */

/*
.splitcontainer-west {
	border: 1px solid #B5BCC7;
	float: left;
}*/