/**
 * 公用 CSS 样式
 */
 
 
 
/**  reset.css */


/* 删除标签自带 mragin， padding */
html, body, object, iframe, ul, li, img {
	padding: 0;
	margin: 0;
}

/* 删除标签自带 border   */
html, body, img {
	border: 0;
}

/* 删除表格单元格之间的空白 */
table {
	border-collapse: collapse;
	border-spacing: 0;  /* tables still need 'cellspacing="0"' in the markup */
}

ul, li {
	list-style: none;
}

img {
	-ms-interpolation-mode: bicubic;
}

a {
	color: #245C99;
	text-decoration: none;
}

a:hover {
	color: #32A2FF;
	text-decoration: none;
}

body, button, input, select, textarea {
	font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}

:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}


/**  common.css */

.b-clr:after, .b-clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.b-clr, .b-clear {
	zoom:1;
}

.b-fl, .b-left {
	float:left;
	_display:inline;/*double margin bug fix for ie*/
}

.b-fr, .b-right {
	float:right;
	_display:inline;/*double margin bug fix for ie*/
}

.b-hidden {
	visibility:hidden;
}

.b-locate,  .b-relative {
	position:relative;
}

.b-brk, .b-break {
	word-wrap:break-word;
	word-break:break-all;
}

/* ----- standard style ------ */
.b-yahei {
	font-family:"Microsoft YaHei"
}

.b-ab a, .b-ab:link, .b-ab a:visited, .b-ab a:focus, .b-ab a:active, a.b-ab, a.b-ab:link, a.b-ab:visited, a.b-ab:focus, a.b-ab:active {
	color: #70A3CD;
	text-decoration: none;
}
.b-ab a:hover, a.b-ab:hover {
	color: #245C99;
	text-decoration: none;
}
.b-ag a, .b-ag a:link, .b-ag a:visited, .b-ag a:focus, .b-ag a:active, a.b-ag, a.b-ag:link, a.b-ag:visited, a.b-ag:focus, a.b-ag:active {
	color: #999999;
	text-decoration: none;
}
.b-ag a:hover, a.b-ag:hover {
	color: #245C99;
	text-decoration: none;
}

.b-inline {
	display: inline;	
}

.b-block {
	display: block;	
}

.b-lump, .b-inline-block {
	display:inline-block;
	zoom:1;
	*display:inline;
}

.b-hide {
	display:none;
}

.b-absolute {
	position: absolute;	
}


.b-blank {
	height: 10px;	
}


.b-bold {
	font-weight: bold;	
}

a.b-alt {
	color: #70A3CD;
}

.b-hint, a.b-hint {
	color: #999999;	
}

.b-hignlight {
	color: #FF6600;	
}

a.b-hignlight {
	color: #FF6600;
}

