@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,label,textarea,p,blockquote,table,td,tr,th,button{margin:0;padding:0;font-size:12px;font-family:Tahoma,"宋体";color:#333;  }
table{border-collapse:collapse;border-spacing:0;}
input,label{ margin:0; padding:0;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
.eng{ font-family:Arial, Helvetica, sans-serif}
img{border:0;}
textarea{resize:none;}
input,button,select,textarea{outline:none}
ol,ul{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:''}
a{text-decoration:none;}
/*a:link{color:#27528d;} 
a:visited{color:#27528d;}*/
a:hover{text-decoration:underline;}
a:active,a:focus{}
.dil{ display:inline} 
.red{ color:#b1080d}
.gray{color:#999}.m-gray{color:#666}.d-gray{color:#333}
.dis{display:block}.undis{ display:none;}
.orange{ color:#e28183}
.l-gray{ color:#c9c9c9}
a.l-gray{ color:#c9c9c9}
a.d-gray{color:#333}a.d-gray:visited{color:#333}
a.gray{color:#999}a.gray:visited{color:#999}
a.blue{color:#27528d}a.blue:visited{color:#27528d}
a.l-blue{color:#5f81b0}a.l-blue:visited{color:#5f81b0} 
/*----------font-style---------*/
.f14{font-size:14px;}.f12{font-size:12px;}
.fb14{font-size:14px; font-weight:bold}
.fb{font-weight:bold;}.fn{font-weight:normal;}
.udl{text-decoration:underline;}
/*----------positon---------*/
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}.bc{margin:0px auto;}
.fl{float:left;}.fr{float:right;}.cb{clear:both;}.cl{clear:left;}.cr{clear:right;}
.cl{ clear:both}
.clearfix{display:block;zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.hr4{ font-size: 0;height: 4px;overflow: hidden;clear:both}
.h_auto{overflow:auto;}

.hr8{ font-size: 0;height: 8px;overflow: hidden;clear:both}
.hr10{ font-size: 0;height: 10px;overflow: hidden;clear:both}
.hr15{ font-size: 0;height: 15px;overflow: hidden;clear:both}
.hr16{ font-size: 0;height: 16px;overflow: hidden;clear:both}
.hr20{ font-size: 0;height: 20px;overflow: hidden; clear:both}
.hr24{ font-size: 0;height: 24px;overflow: hidden; clear:both}
.hr32{ font-size: 0;height: 32px;overflow: hidden;clear:both}
.hr40{ font-size: 0;height: 40px;overflow: hidden;clear:both}
.lh21{ line-height:21px}.lh26{ line-height:26px}
.vm{vertical-align:middle;}.vt{ vertical-align:top}
.pr{position:relative;}.pa{position:absolute;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
/*----------width and height---------*/
.w45{width:45px;}.w40{width:40px;}.w96{width:96px;}.w116{width:116px;}.w138{width:138px;}.w142{width:142px;}.w160{width:160px;}.w164{width:164px;}.w174{width:174px;}.w235{width:235px; }.w240{width:240px; }.w250{ width:250px}.w270{width:270px;}.w290{width:290px;}.w350{width:350px;}.w430{width:430px;}.w510{width:510px;}.w527{width:527px;}.w560{width:560px;}.w624{width:624px;}.w980{width:980px;}.w120{ width:120px}.w180{ width:180px}
.h34{height:34px;}.h50{height:50px;}.h80{height:80px;}.h100{height:100px;}.h300{ height:300px;}.h406{height:406px;}
/*----------margin and padding---------*/
.pt16{padding-top:16px;} 
.pl16{ padding-left:16px;}
.pb16{padding-bottom:16px;}.pb20{ padding-bottom:20px;}.ptlr8{ padding:0 8px}
.ptb8{ padding:8px 0}.ptb16{ padding:16px 0}.ptb24{ padding:24px 0}.ptb20{ padding:20px 0}
.pt4{ padding-top:4px}
.pb8x{ padding-bottom:-8px !important}
.mt0{ margin-top:0}.mt1x{ margin-bottom:-1px}.mt4x{margin-top:-4px}
.mtb8{ margin:8px 0}.mtb16{ margin:16px 0}
.mt2{ margin-top:2px;}.mt4{margin-top:4px;}.mt5{margin-top:5px;}.mt8{ margin-top:8px;}.mt10{margin-top:10px;}.mt16{ margin-top:16px;}.mt24{ margin-top:24px;}.mt32{ margin-top:32px;}.mt40{ margin-top:40px;}.mt48{ margin-top:48px;}.mt56{margin-top:56px;}
.mr2{margin-right:2px;}.mr4{ margin-right:4px;}
.mr6{margin-right:6px;}.mr8{ margin-right:8px}.mr16{ margin-right:16px;}.mr24{margin-right:24px;}.mr32{margin-right:32px}.mr40{margin-right:40px;}.mr48{margin-right:48px;}.mr84{margin-right:84px;}
.mbf16{margin-bottom:-16px;}.mb2{ margin-bottom:2px;}.mb4{margin-bottom:4px;}.mb8{ margin-bottom:8px;}.mb10{ margin-bottom:10px;}.mb16{margin-bottom:16px;}.mb20{margin-bottom:20px;}.mb32{margin-bottom:32px;}.mb40{margin-bottom:40px;}
.zd90{ z-index:90};zd80{ z-index:80};zd70{ z-index:70}
.ml4{ margin-left:4px}.ml8{ margin-left:8px}.ml16{ margin-left:16px;}.ml24{margin-left:24px;}.ml32{ margin-left:32px;}.ml64{ margin-left:64px}.ml96{ margin-left:96px}.ml164{ margin-left:164px}
.ml8x{ margin-left:-8px}.mb4x{ margin-bottom:-4px}.mb2x{ margin-bottom:-2px}.mt8x{ margin-top:-8px}.mb24{margin-bottom:24px;}.mt1x{ margin-top:-1px}
.mlr8{ margin:0 8px}.mlr16{ margin:0 16px}
.line{ background:url(http://static.mtimg.net/jingwei/static/images/dots.png) left -39px repeat-x; height:1px; overflow:hidden}

.alphax{width:100%;height:100%;position:absolute-;filter:alpha(opacity=0);top:0;left:0;border:4;z-index:11}