/**
 * @author 
 */

.b-listbox {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 1px solid #cccccc;
	width: 200px;
	cursor: default;
	background: white;
	overflow: auto;
	max-height: 200px;
	_height: expression(Math.min(this.offsetHeight, 200));
	z-index:99999;
	margin: 0;
}

.b-listbox-content {
	color: #585858;
	padding: 5px;
	line-height: 20px;
}


.b-listbox-content:hover, .b-listbox-actived {
	background-color: #255b9b;
	color: #ffffff;
}