/**
 * @author  xuld
 */

 
.b-textbox {
	width: 208px;
	height: 18px;
	border: 1px solid #cccccc;
	color: #585858;
	line-height: 12px;
	line-height: 20px\9;
 	*line-height: 20px;
	padding: 5px;
	background:#ffffff;
	*vertical-align: middle;
}

.b-textbox:focus {
	border: 1px solid #78BDF5;
}

.b-textbox-error {
	border: 1px solid #d13535!important;
	background: url(../images/text-cor.gif) no-repeat right 0px #ffffff;
}


.b-textbox[disabled] {
	background: #F2F2F2;
	color: #C2C2C2;
}