
.x-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 10001;
}

/* mask    */
.x-mask-container {
	width: 100%;
	height: 100%;
	opacity: 0.4;
	filter: alpha( opacity = 40);
	background: #FFF;
	position:absolute;
	top: 0;
	left: 0;
}



.x-mask-content {
	opacity: 1;
	left: 50%;
	top: 50%;
	filter: none;
	position:absolute;
	cursor: wait;
	border: 4px double #a7c0c6;
	padding:7px;
}
