
.x-dialog {
	text-align: left;
	position: absolute;
}

.x-dialog-proxy {
	opacity: 0.8;
	filter: alpha( opacity = 80);
}


/* 窗口 */


.x-dialog-header, .x-dialog-header .x-header-container, .x-dialog-header .x-header-content , .x-dialog-footer, .x-dialog-footer .x-footer-container, .x-dialog-footer .x-footer-content { 
	background-image:url(../images/dialog.gif);
}

.x-dialog-header .x-header-container {
    background-position: 100% -60px;
}

.x-dialog-header .x-header-content {
     background-position: 0 -30px;
}

.x-dialog-body, .x-dialog-container {
	background-color: #e3eaec;
	background-repeat: repeat-y;
}

.x-dialog-body   {
	padding-left: 4px;
	background-position: left top;
	background-image:url(../images/dialog-sides-left.gif);
}

.x-dialog-container {
	padding-right: 4px;
	background-position: right bottom;
	background-image:url(../images/dialog-sides-right.gif);
}

.x-dialog-content {
    background-color: white;
    border: 1px solid #99bce8;
}

.x-dialog-footer {
    background-position: 0 -90px;
}

.x-dialog-footer .x-footer-container {
    background-position: 100% -110px;
}

.x-dialog-footer .x-footer-content {
    background-position: 0 -100px;
}

.x-dialog-buttons {
	text-align: right;
	padding: 5px;
}



/* 按钮 */
.x-dialog.x-resizable .x-resizable-rb {
	background-image:url(../../../core/assets/images/icons.gif);
	width: 11px;
	height: 11px;
	background-position: -100px -100px;
}

/* 按钮 */

.x-icon-close {
    background-position: -50px -50px;
}

.x-icon-close:hover {
    background-position: -50px -75px;
}

.x-icon-maximize {
    background-position: -25px 0;
}

.x-icon-maximize:hover {
    background-position: -25px -25px;
}

.x-icon-restore {
    background-position: -25px -50px;
}

.x-icon-restore:hover {
    background-position: -25px -75px;
}

.x-icon-minimize {
    background-position: -50px 0;
}

.x-icon-minimize:hover {
    background-position: -50px -25px;
}




