/**
 * @author 
 */



.x-tagchooser {
    background: url(../images/tagchooser.gif) no-repeat 8px 7px;
    display: inline-block;
    line-height: 14px;
    padding: 4px 8px 5px 22px;
    text-decoration: none;
    border-radius: 2px 2px 2px 2px;
    color: #23589a;
    vertical-align: middle;
}


.x-tagchooser-actived, .x-tagchooser:hover {
	background-color: #3079d5;
    background-position: 8px -23px;
    color: #FFFFFF;
}